#banner-part {
    height: 800px;
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, rgba(255, 0, 0, 0.9) 0%, rgba(45, 25, 61, 0.9)0%, rgba(83, 100, 141, 0) 100%);
    }

    h2 {
        padding: 350px 0px 0px;
        font-weight: bold;
        color: $white;
        font-size: 56px;
    }

    p {
        color: $white;
        font-size: 20px;
    }
}

header {
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;

    nav {
        height: 120px;
        background: rgba(255, 255, 255, 0);
        box-shadow: -1px -5px 12px 4px rgba(31, 38, 135, 0.3);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        line-height: 88px;

        .navbar-brand {
            height: 100px;

            img {
                width: 100%;
            }
        }

        .nav-item {
            .nav-link {
                color: $white !important;
                line-height: 35px;
                font-weight: 600;
                font-size: 18px;
                padding-right: 15px !important;
                padding-left: 15px !important;
            }

            .user-btn {
                width: 100px;
                height: 50px;
                border: 2px solid #f36868;
                border-radius: 35px;
                line-height: 35px;
                text-align: center;
                margin-right: 10px;
                transition: all 0.3s;
                font-size: 16px;
                line-height: 30px;

                &:hover {
                    background-color: $red;
                    color: #fff !important;
                }
            }

            .login-btn {
                width: 80px;
                height: 50px;
                background-color: $red;
                border-radius: 35px;
                line-height: 35px;
                text-align: center;
                color: #fff !important;
                margin-right: 10px;
                border: 2px solid $red;
                transition: all 0.3s;
                font-size: 16px;
                line-height: 30px;

                &:hover {
                    border: 2px solid $red;
                    background-color: transparent;
                }
            }
        }

        .search-box {
            position: relative;

            input {
                border: 2px solid $white;
                width: 240px;
                padding: 0px 0px 0px 20px;
                border-radius: 40px;
                background-color: transparent;

            }

            .search-btn {
                width: 42px;
                height: 43px;
                border-radius: 40px;
                background-color: #f36868;
                position: absolute;
                right: 14px;
                top: 4px;
                color: #fff;
            }

            ::placeholder {
                color: $white;
            }
        }
    }
}