#banner-part {
    height: 700px;

    h2 {
        padding: 300px 0px 0px;
        font-weight: bold;
        color: $black;
        font-size: 56px;
    }

    p {
        color: $black;
        font-size: 20px;
        padding: 20px 50px 30px 0px;
    }

    a {
        padding: 20px 30px;
        background-color: $blue;
        color: $white;
        font-weight: 600;
        border-radius: 40px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: all .2s ease-in-out;
        background: $blue;
        // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 189, 128, 1) 0%, rgba(255, 31, 142, 1) 100%);

        &:hover {
            color: $white;
            padding: 20px 35px;
        }
    }

    img {
        margin-top: 75%;
        width: 100%;
    }
}

header {
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;

    nav {
        height: 120px;
        background: rgba(255, 255, 255, 0);
        box-shadow: -1px -5px 12px 4px rgba(31, 38, 135, 0.3);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        line-height: 88px;

        .navbar-brand {
            height: 100px;

            img {
                width: 100%;
            }
        }

        .nav-item {
            .nav-link {
                color: $black !important;
                line-height: 35px;
                font-weight: 600;
                font-size: 18px;
                padding-right: 15px !important;
                padding-left: 15px !important;
            }

            .user-btn {
                width: 100px;
                height: 50px;
                border: 2px solid $blue;
                border-radius: 35px;
                line-height: 35px;
                text-align: center;
                margin-right: 10px;
                transition: all 0.3s;
                font-size: 16px;
                line-height: 30px;

                &:hover {
                    background-color: $blue;
                    color: #fff !important;
                }
            }

            .login-btn {
                width: 100px;
                height: 50px;
                background-color: $blue;
                border-radius: 35px;
                line-height: 35px;
                text-align: center;
                color: #fff !important;
                margin-right: 10px;
                border: 2px solid $blue;
                transition: all 0.3s;
                font-size: 16px;
                line-height: 30px;

                i {
                    margin-right: 5px;
                }

                &:hover {
                    color: $black !important;
                    border: 2px solid $blue;
                    background-color: transparent !important;
                }
            }
        }

        .search-box {
            position: relative;

            input {
                border: 2px solid $black;
                width: 240px;
                padding: 0px 0px 0px 20px;
                border-radius: 40px;
                background-color: transparent;

            }

            .search-btn {
                width: 42px;
                height: 43px;
                border-radius: 40px;
                background-color: $blue;
                position: absolute;
                right: 14px;
                top: 4px;
                color: $white;
            }

            ::placeholder {
                color: $black;
            }
        }
    }
}

#desktop-image {
    position: relative;
    padding: 100px 0;

    h2 {
        font-weight: 600;
        font-size: 32px;
    }

    .heading-p {
        font-size: 16px;
        padding: 10px 150px 50px;
    }

    .full-image {
        position: relative;

        img {
            width: 100%;
        }

        .side-text {
            position: absolute;
            right: -70px;
            top: 0;
            width: 500px;

            p {
                font-size: 18px;
                padding: 50px 50px 30px;
            }
        }
    }



    .mac {
        background-image: url(../images/mac.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 610px;
        position: relative;


        .mac-wallpaper {
            top: 30px;
            left: 30px;
            position: absolute;
            background-color: turquoise;
        }
    }

    .side-text {
        position: absolute;
        right: 0;
        width: 500px;

        p {
            font-size: 18px;
            padding: 50px 50px 30px;
        }
    }

    .macbook {
        background-image: url(../images/macbook.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        height: 286px;
        width: 500px;
        right: 14%;
        bottom: 65px;

        .macbook-wallpaper {
            top: 15px;
            left: 55px;
            position: absolute;
            background-color: turquoise;
        }
    }
}

#testing-part {
    padding: 100px 0px;
    background-color: #5435dc14;

    .text-box {
        background-color: $white;
        color: $black;
        padding: 50px;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        i {
            color: $black;
            height: 80px;
            width: 80px;
            line-height: 80px;
            font-size: 30px;
            border-radius: 50%;
            margin-bottom: 25px;
            transition: all 0.3s;
            cursor: pointer;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        &:hover i {
            background-color: #0037ff;
            color: $white;
        }

        h4 {
            font-weight: 600;
            font-size: 22px;
        }

        p {
            font-size: 16px;
        }

    }
}

#creators {
    padding: 100px 0px;

    h4 {
        font-weight: 600;
        font-size: 40px;
        padding-bottom: 10px;
    }

    p {
        font-size: 18px;
        color: #999;
    }

    a {
        padding: 15px 24px;
        background-color: $blue;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        border-radius: 40px;
        box-shadow: rgba(100, 100, 111, 0.20) 0px 7px 29px 0px;
        transition: all .2s ease-in-out;
        background: #0037ff;
        // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 189, 128, 1) 0%, rgba(255, 31, 142, 1) 100%);

        &:hover {
            color: #fff;
            padding: 15px 30px;
        }
    }
}

#supporters {
    padding: 100px 0px;
    background-color: #5435dc14;

    h4 {
        font-weight: 600;
        font-size: 40px;
        padding-bottom: 10px;
    }

    p {
        font-size: 18px;
        color: #999;
    }

    a {
        padding: 15px 24px;
        background-color: $blue;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        border-radius: 40px;
        box-shadow: rgba(100, 100, 111, 0.20) 0px 7px 29px 0px;
        transition: all .2s ease-in-out;
        background: #0037ff;
        // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 189, 128, 1) 0%, rgba(255, 31, 142, 1) 100%);

        &:hover {
            color: #fff;
            padding: 15px 30px;
        }
    }
}

#fees {
    padding: 100px 0px;

    h4 {
        font-weight: 600;
        font-size: 40px;
        padding-bottom: 10px;
    }

    p {
        font-size: 18px;
        color: #999;
    }

    a {
        padding: 15px 24px;
        background-color: $blue;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        border-radius: 40px;
        box-shadow: rgba(100, 100, 111, 0.20) 0px 7px 29px 0px;
        transition: all .2s ease-in-out;
        background: #0037ff;
        // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 189, 128, 1) 0%, rgba(255, 31, 142, 1) 100%);

        &:hover {
            color: #fff;
            padding: 15px 30px;
        }
    }
}


#creators-earnings {
    padding: 100px 0px;

    background-color: #5435dc14;

    .creators-earning-box {
        padding: 50px;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        #js-example-change-value {
            h2 {
                font-weight: 600;
                font-size: 40px;
                padding-bottom: 50px;
                text-align: center;
            }

            h6 {
                font-size: 20px;
                padding-bottom: 15px;

                output {
                    font-weight: 700;
                    color: $blue;
                }
            }



            .rangeslider__handle {
                background: #fff;
                ;
                cursor: pointer;
                display: inline-block;
                width: 40px;
                height: 40px;
                position: absolute;
                border-radius: 50%;
                border: 5px solid $blue;
            }

            .rangeslider__fill {

                background: rgb(2, 0, 36);
                background: linear-gradient(90deg, #020024 0%, $blue 0%, #008cff 100%);
                position: absolute;
            }
        }

        .box-footer {
            padding-top: 50px;

            h4 {
                font-size: 46px;
                font-weight: 700;
                color: $blue;
            }

            p {
                padding-bottom: 20px;
            }

            a {
                padding: 15px 24px;
                background-color: $blue;
                color: #fff;
                font-weight: 600;
                font-size: 16px;
                border-radius: 40px;
                box-shadow: rgba(100, 100, 111, 0.20) 0px 7px 29px 0px;
                transition: all .2s ease-in-out;
                background: #0037ff;
                // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 189, 128, 1) 0%, rgba(255, 31, 142, 1) 100%);

                &:hover {
                    color: #fff;
                    padding: 15px 30px;
                }
            }
        }
    }
}